*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background: url("ChatGPT Image Nov 17, 2025, 08_04_22 PM.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 10px;
}


body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

h1 { 
    margin-bottom: 12px; 
    text-align: center;
    font-size: 50px;
    font-weight: 650;
    padding-top: 150px;
    color: #f3e98f;
}

p { 
    margin-top: 0; 
    color: var(--text-light);
    font-size: 15px;
    text-align: center; 
    color: #fff;
}

li{
  list-style: none;
  font-weight: 1000;
}

a{
  text-decoration: none;
  color: #f5f5f8;
  font-size: 1rem;
  font-weight: 500;
}

a:hover{
  color: rgb(19, 18, 10);
}

header{
  position: relative;
  padding: 10px;
}

.navbar{
  width: 100%;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .logo a{
  font-size: 25px;
  font-weight: bold;
  color: rgb(247, 187, 92);;
  border-color: #000;

}

.navbar .links{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: orange;
  color: #343453;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  margin-left: 20px;
}

.action_btn:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn:active{
  scale: 0.95;
}

@media (max-width: 990px){
  .navbar .toggle_btn{
    display: block;
  }
}

.center-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-outline {
    padding: 5px 20px;
    font-size: 10px;
    font-weight: 600;
    color: #de0404;
    border: 2px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}

.btn-outline:hover {
    background: rgba(10, 220, 98, 0.3);
}

.dropdown {
  display: none;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}


.dropdown.show {
  display: flex;
}

@media(max-width: 990px){
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
}

